/* style.css */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f4f8;
    text-align: center;
    padding: 2rem;
  }
  
  h1 {
    color: #5513d8;
  }

  h2 {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color:brown;
    font-size: 24px;
  }


  